<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recuperação de Senha</title>
  </head>
  <body>
    <img src='cid:logo' alt='Logo Motors Shop' />
    <h1>Recuperação de Senha</h1>
    <h2>Opa, {{name}}, você esqueceu sua senha?</h2>
    <p>Use o seguinte código para recuperar sua senha</p>
    <strong>{{recoveryCode}}</strong>
    <p>Caso não tenha feita esta solicitação, pedidos que apenas ignore este
      email</p>
  </body>
</html>